version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: UserServiceDb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - marketplace-network

  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    networks:
      - marketplace-network

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka_broker
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
    networks:
      - marketplace-network

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - marketplace-network

  gateway:
    build:
      context: .
      dockerfile: src/Gateway/Gateway.API/Dockerfile
    container_name: gateway_api
    ports:
      - "5000:80"
    depends_on:
      - userservice
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - marketplace-network

  userservice:
    build:
      context: .
      dockerfile: src/Services/UserService/UserService.API/Dockerfile
    container_name: user_service
    ports:
      - "5001:80"
    depends_on:
      - mysql
      - kafka
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mysql;Database=UserServiceDb;User=root;Password=root;
      - Kafka__BootstrapServers=kafka:9092
    networks:
      - marketplace-network

volumes:
  mysql_data:

networks:
  marketplace-network:
    driver: bridge
